/* 
  See full code at https://github.com/t1m0n/wheel-menu 
  Best viewed on full screen.

  Tested in Chrome and Firefox
*/


/* -------------------------------------------------
    Page general styles
   ------------------------------------------------- */

.header {
    color: #fff;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 32px;
    padding-top: 42px;
}


/* -------------------------------------------------
    Wheel menu general
   ------------------------------------------------- */

.-wheel-menu-visible- {
    cursor: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.wheel-menu-container {
    left: -9999px;
    top: 0;
    position: absolute;
    -webkit-transition: left 0s 350ms;
    transition: left 0s 350ms;
}

.wheel-menu-container.active {
    left: 0;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}


/* -------------------------------------------------
    Wheel menu ring
   ------------------------------------------------- */

.wheel-menu--ring {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    opacity: 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px gold solid;
    position: absolute;
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
    -webkit-transition: top 0s 350ms, left 0s 350ms, opacity 350ms 0.15s, -webkit-transform 350ms 0.15s;
    transition: top 0s 350ms, left 0s 350ms, opacity 350ms 0.15s, -webkit-transform 350ms 0.15s;
    transition: top 0s 350ms, left 0s 350ms, opacity 350ms 0.15s, transform 350ms 0.15s;
    transition: top 0s 350ms, left 0s 350ms, opacity 350ms 0.15s, transform 350ms 0.15s, -webkit-transform 350ms 0.15s;
}

.wheel-menu--ring.active {
    opacity: .6;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: top 0s 0s, left 0s 0s, opacity 350ms 0s, -webkit-transform 350ms 0s;
    transition: top 0s 0s, left 0s 0s, opacity 350ms 0s, -webkit-transform 350ms 0s;
    transition: top 0s 0s, left 0s 0s, opacity 350ms 0s, transform 350ms 0s;
    transition: top 0s 0s, left 0s 0s, opacity 350ms 0s, transform 350ms 0s, -webkit-transform 350ms 0s;
}

.-item-activated- .wheel-menu--ring.active {
    opacity: 1;
}

.-wheel-menu-moving- .wheel-menu--ring {
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
}


/* -------------------------------------------------
    Wheel menu cursor
   ------------------------------------------------- */

.wheel-menu--pointer {
    background: #f4777f;
    width: 8px;
    height: 2px;
    position: absolute;
    left: -1000px;
    top: -1000px;
    opacity: 0;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
    transition: opacity 0.3s, transform 0.3s, -webkit-transform 0.3s;
}

.wheel-menu--pointer.active {
    opacity: 1;
}

.-wheel-menu-moving- .wheel-menu--pointer {
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
}


/* -------------------------------------------------
    Menu cursor
   ------------------------------------------------- */

.wheel-menu--cursor {
    border: 1px solid #ff9ca6;
    border-radius: 50%;
    position: absolute;
    width: 16px;
    height: 16px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    opacity: 0;
    -webkit-transform: scale(0.4);
    transform: scale(0.4);
    -webkit-transition: opacity 350ms 0s, -webkit-transform 350ms 0s;
    transition: opacity 350ms 0s, -webkit-transform 350ms 0s;
    transition: transform 350ms 0s, opacity 350ms 0s;
    transition: transform 350ms 0s, opacity 350ms 0s, -webkit-transform 350ms 0s;
}

.wheel-menu--cursor.active {
    opacity: .6;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: opacity 350ms 0.1s, -webkit-transform 350ms 0.1s;
    transition: opacity 350ms 0.1s, -webkit-transform 350ms 0.1s;
    transition: transform 350ms 0.1s, opacity 350ms 0.1s;
    transition: transform 350ms 0.1s, opacity 350ms 0.1s, -webkit-transform 350ms 0.1s;
}

.active.-item-activated- .wheel-menu--cursor {
    opacity: 1;
    -webkit-transition: opacity 350ms 0s, -webkit-transform 350ms 0s;
    transition: opacity 350ms 0s, -webkit-transform 350ms 0s;
    transition: transform 350ms 0s, opacity 350ms 0s;
    transition: transform 350ms 0s, opacity 350ms 0s, -webkit-transform 350ms 0s;
}


/* -------------------------------------------------
    Wheel menu item
   ------------------------------------------------- */

.wheel-menu--items {
    position: absolute;
    -webkit-transform: scale(0.3);
    transform: scale(0.3);
    -webkit-transition: -webkit-transform 350ms 0s;
    transition: -webkit-transform 350ms 0s;
    transition: transform 350ms 0s;
    transition: transform 350ms 0s, -webkit-transform 350ms 0s;
    z-index: 100;
}

.wheel-menu--items.active {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: -webkit-transform 350ms 0.1s;
    transition: -webkit-transform 350ms 0.1s;
    transition: transform 350ms 0.1s;
    transition: transform 350ms 0.1s, -webkit-transform 350ms 0.1s;
}

.wheel-menu--item {
    position: absolute;
    color: #333;
    font-family: Tahoma, sans-serif;
    font-size: 14px;
    text-align: center;
    opacity: 0;
    border-radius: 2px;
    padding: 4px 8px;
    background: rgba(0, 0, 0, 0.1);
    white-space: nowrap;
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
    -webkit-transition: opacity 350ms, -webkit-transform 350ms;
    transition: opacity 350ms, -webkit-transform 350ms;
    transition: transform 350ms, opacity 350ms;
    transition: transform 350ms, opacity 350ms, -webkit-transform 350ms;
}

.active .wheel-menu--item {
    opacity: .7;
    -webkit-transition: opacity 350ms, -webkit-transform 350ms;
    transition: opacity 350ms, -webkit-transform 350ms;
    transition: transform 350ms, opacity 350ms;
    transition: transform 350ms, opacity 350ms, -webkit-transform 350ms;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.active .wheel-menu--item:nth-child(1n) {
    -webkit-transition-delay: 40ms;
    transition-delay: 40ms;
}

.active .wheel-menu--item:nth-child(2n) {
    -webkit-transition-delay: 80ms;
    transition-delay: 80ms;
}

.active .wheel-menu--item:nth-child(3n) {
    -webkit-transition-delay: 120ms;
    transition-delay: 120ms;
}

.active .wheel-menu--item:nth-child(4n) {
    -webkit-transition-delay: 160ms;
    transition-delay: 160ms;
}

.active .wheel-menu--item:nth-child(5n) {
    -webkit-transition-delay: 200ms;
    transition-delay: 200ms;
}

.active .wheel-menu--item:nth-child(6n) {
    -webkit-transition-delay: 240ms;
    transition-delay: 240ms;
}

.active .wheel-menu--item:nth-child(7n) {
    -webkit-transition-delay: 280ms;
    transition-delay: 280ms;
}

.active .wheel-menu--item:nth-child(8n) {
    -webkit-transition-delay: 320ms;
    transition-delay: 320ms;
}

.-wheel-menu-moving- .active .wheel-menu--item {
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

.wheel-menu--item.active {
    background: #ff9ca6;
}


/* -------------------------------------------------
    Dota styles
   ------------------------------------------------- */

.-dota- .wheel-menu--ring {
    border: none;
}

.-dota- .wheel-menu--ring:after {
    content: '';
    background: url(./img/wheel.png) left top no-repeat;
    width: 208px;
    height: 208px;
    position: absolute;
    left: -33px;
    top: -18px;
}

.-dota- .wheel-menu--pointer {
    border: none;
    background: url(./img/pointer.png) left top no-repeat;
    width: 33px;
    height: 66px;
    position: absolute;
}

.-dota- .wheel-menu--cursor {
    border: none;
    background: url(./img/cursor.png) left top no-repeat;
    width: 60px;
    height: 63px;
}

.-dota- .wheel-menu--item {
    background: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 24px;
    color: #fff;
    text-shadow: 0 1px 4px #000;
    line-height: 1;
    padding: 0;
}

.-dota- .wheel-menu--item.active {
    background: none;
    font-size: 36px;
}

.-wheel-menu-moving- .-dota- .wheel-menu--item.active {
    opacity: 1;
    -webkit-transition: none;
    transition: none;
}


/*# sourceMappingURL=style.css.map */